/* globals */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: var(--VeryLightGrayishBlue);
}


.header {
    display: flex;
    justify-content: center;
    align-content: center;
}

.title {
    margin-top: 1.5em;
    margin-left: .6em;
    font-weight: bold;
    opacity: .6;
}

/* switch */
.checkbox {
    display: none;
}

.checkbox:checked ~ .switch:before {
    transform: translateX(0);
    
}
.switch {
    margin-top: .5em;
    height: 35px;
    display: block;
    border-radius: 20px;
    background-image: linear-gradient(to right, var(--Blue1) 0%, var(--Blue2) 100%);
    width: 60px;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    user-select:none;
}

.switch::before {
    content:"";
    display:block;
    width: 25px;
    height: 25px;
    background: var(--VeryLightGrayishBlue);
    border-radius:50%;
    transform: translateX(25px);
    transition: .3s;
    will-change: transform;
}

.switch:active {
    opacity: .3;
}

/* switch alignment */

.switcher {
    display:flex;
    justify-content: center;
    align-content: center;
}

.Annually {
    margin-right: 1em;
    opacity: .3;
    font-weight: bold;
}

.Monthly {
    margin-left: 1em;
    opacity: .3;
    font-weight: bold;
}

/* pseudoclasses */

:root {
    --Blue1: hsl(236, 72%, 79%);
    --Blue2: hsl(237, 63%, 64%);
    --VeryLightGrayishBlue: hsl(240, 78%, 98%);
    --LightGrayishBlue: hsl(234, 14%, 74%);
    --GrayishBlue: hsl(233, 13%, 49%);
    --DarkGrayishBlue: hsl(232, 13%, 33%);
}

body::after {
    position: fixed;
    content:"";
    width: 100%;
    height: 85%;
    top: -2.3em;
    right: -9.5em;
    background-image:url(/images/bg-top.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    z-index: -1;
}

/* container  */

.container{
}


h2 {
    font-size: 1.3em;
    margin-top: 1.3em;
}

.card {
    display: flex;
    flex-direction:column;
    align-items:center;
    margin: 1.5em;
    border-radius: 1em;
}

.cardtitle {
    font-size: 1em;
    margin-top: 1.3em;
}

.pricemonthly{
    font-size: 4em;
    margin: 0;
    border-bottom: 1px solid #DDDDDC;
    padding: 0 0 25px 0;
    width: 84%;
    text-align: center;
}

.capacity {
    border-bottom: 1px solid #DDDDDC;
    padding: 15px;
    width: 75%;
    margin: 0;
    text-align: center;
}

.users {
    border-bottom: 1px solid #DDDDDC;
    padding: 15px;
    margin: 0;
    width: 75%;
    text-align: center;

}

.memory {
    border-bottom: 1px solid #DDDDDC;
    padding: 15px;
    margin: 0;
    width: 75%;
    text-align: center;
}

.bottom {
    font-size: .7em;
    text-decoration: none;
    padding: 1.2em 8em 1.2em 8em;
    margin: 2.5em;
    border-radius: .5em;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 100 !important;
}
/* Basic */

.cardbasic {
    background: white;
    color: var(--DarkGrayishBlue);
}


.bottombasic {
    color: white;
    background-image: linear-gradient(to right, var(--Blue1) 0%, var(--Blue2) 100%);
}

/* professional */

.cardprofessional {
    background-image: linear-gradient( var(--Blue1) 0%, var(--Blue2) 100%);
    color: white;
}

.capacityprof {

}

.bottomprofessional {
    background: white;
    color: var(--Blue2);
}

/* Master  */




@media screen and (min-width: 375px){

}

@media screen and (min-width: 1024px) {

}